*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#mainbox{
    height: 400px;
    width:400px;
    background-color: aqua;
    margin-top: 100px ;
    margin-left: 100px;
    position: relative;
}
#mainbox div{
    position:absolute;
    height: 50px;
    width: 50px; 
    background-color: blue;
     
}
.top{
    top: 0;
}
.right{
    right:0 ;
}
.bottom{
    bottom: 0;
}
.left{
    left:0 ;
}
